{% extends 'base.html.twig' %}
{% block title %}SymRecipe - Mes ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
            {{ message }}
            </div>
        {% endfor %}


        <h1>Mes ingrédients</h1>
        {% if not ingredients.items is same as ([]) %}
            <h4>{{ ingredients.getTotalItemCount }} ingrédients</h4>
            <table class="table table-hover mt-4">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr class="table-dark">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <div class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            <h4>Il n'y as aucun ingrédient !</h4>
        {% endif %}
        </table>
    </div>
{% endblock %}
